/**
 * Makes an object "drop" onto the page.
 */
@-webkit-keyframes drop {
    from {
        -webkit-transform: scale(5) rotate(270deg);
    }

    to {
        -webkit-transform: scale(1) rotate(0deg);
    }
}

@-moz-keyframes drop {
    from {
        -moz-transform: scale(5) rotate(270deg);
    }

    to {
        -moz-transform: scale(1) rotate(0deg);
    }
}

@-ms-keyframes-drop {
    from {
        -ms-transform: scale(5) rotate(270deg);
    }

    to {
        -ms-transform: scale(1) rotate(0deg);
    }
}

@-o-keyframes drop {
    from {
        -o-transform: scale(5) rotate(270deg);
    }

    to {
        -o-transform: scale(1) rotate(0deg);
    }
}

@keyframes drop {
    from {
        transform: scale(5) rotate(270deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}


/**
 * Makes an object "drop" onto the page and slide slightly right.
 */
@-webkit-keyframes dropslide {
    from {
        -webkit-transform: scale(5) rotate(270deg);
    }

    to {
        -webkit-transform: scale(1) rotate(0deg);
    }
}

@-moz-keyframes dropslide {
    from {
        -moz-transform: scale(5) rotate(270deg);
    }

    to {
        -moz-transform: scale(1) rotate(0deg);
    }
}

@-ms-keyframes-dropslide {
    from {
        -ms-transform: scale(5) rotate(270deg);
    }

    to {
        -ms-transform: scale(1) rotate(0deg);
    }
}

@-o-keyframes dropslide {
    from {
        -o-transform: scale(5) rotate(270deg);
    }

    to {
        -o-transform: scale(1) rotate(0deg);
    }
}

@keyframes dropslide {
    from {
        transform: scale(5) rotate(270deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}
