html, body {
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: #111;

    font-family: 'VT323';
    font-size: 24px;

    color: #efefef;
}

body > section {
    position: relative;
}
