#state-title {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#state-title h1, #state-title h2 {
    display: block;
    text-align: center;
}

#state-title h1 {
    font-size: 200%;
}

#state-title h2 {
    font-size: 150%;
}
