#state-play .player {
    position: absolute;
    display: inline-block;

    background-color: #efefef;
}

#state-play .ball {
    position: absolute;
    display: inline-block;

    background-color: #efefef;
}
