#state-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Share Tech Mono';
}

#state-title h1, #state-title h2 {
    margin: 4vh;
    padding: 0;

    display: block;
    text-align: center;
}

#state-title h1 {
    background-color: #efefef;
    padding: 4px 16px;
    color: #111;

    font-size: 500%;
}

#state-title h2 {
    font-size:
    color: #999;
}
