/**
 * Orientation message.
 *
 * Appears when the viewport isn't wide enough.
 */
#orientation-message {
    z-index: 1;
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: #111;

    text-align: center;
    font-size: 4vw;
}

#orientation-message h1, #orientation-message h2 {
    margin: 4vh;
    padding: 0;

    display: block;
    text-align: center;
}

#orientation-message h1 {
    font-size: 12vw;
}

#orientation-message h2 {
    font-size: 6vw;
    color: #999;
}


/**
 * Player scores.
 */
#state-play #score, #state-play #score > * {
    height: 100%;
    text-align: center;
}

#state-play #score > * {
    display: inline-block;

    margin: 0;
    padding: 32px;
}

#state-play #score-player-one {
    border-right: 1px dotted #efefef;
}

/**
 * Play state objects.
 */

#state-play .player {
    position: absolute;
    display: inline-block;

    background-color: #efefef;
}

#state-play .ball {
    position: absolute;
    display: inline-block;

    background-color: #efefef;


    -webkit-animation: drop 0.5s 1 linear;
    -moz-animation: drop 1s 1 linear;
    -o-animation: drop 1s 1 linear;
}
