/**
 * Orientation message.
 *
 * Appears when the viewport isn't wide enough.
 */
#orientation-message {
    z-index: 1;
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: #111;

    text-align: center;
    font-size: 4vw;
}

#orientation-message h1, #orientation-message h2 {
    margin: 4vh;
    padding: 0;

    display: block;
    text-align: center;
}

#orientation-message h1 {
    font-size: 12vw;
}

#orientation-message h2 {
    font-size: 6vw;
    color: #999;
}


/**
 * Countdown in the middle of the play view.
 */
#countdown-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #111;

    font-size: 400%;
}

#countdown, #countdown.hidden {
    background-color: #efefef;
    border: 1px solid #111;
    padding: 4px 28px;
}

#countdown.drop {
    -webkit-animation: drop 0.35s 1 linear;
    -moz-animation: drop 0.35s 1 linear;
    -ms-animation: drop 0.35s 1 linear;
    -o-animation: drop 0.35s 1 linear;
    animation: drop 0.35s 1 linear;
}


/**
 * Player scores.
 */
#state-play #score, #state-play #score > * {
    height: 100%;
    text-align: center;
}

#state-play #score > * {
    display: inline-block;

    margin: 0;
    padding: 32px;
}

#state-play #score-player-one {
    border-right: 1px dotted #efefef;
}


/**
 * Gameplay objects.
 */

#state-play .player {
    position: absolute;
    display: inline-block;

    width: 10px;
    height: 50px;

    background-color: #efefef;

    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

#state-play .player.hit {
    -webkit-transition: background-color 0.0s ease-in;
    -moz-transition: background-color 0.0s ease-in;
    -ms-transition: background-color 0.0s ease-in;
    -o-transition: background-color 0.0s ease-in;
    transition: background-color 0.0s ease-in;
}

#state-play .player.one {
    left: 64px;
}

#state-play .player.two {
    right: 64px;
}

#state-play .ball {
    position: absolute;
    display: inline-block;

    background-color: #efefef;

    -webkit-animation: drop 0.5s 1 linear;
    -moz-animation: drop 0.5s 1 linear;
    -ms-animation: drop 0.5s 1 linear;
    -o-animation: drop 0.5s 1 linear;
    animation: drop 0.5s 1 linear;
}
